/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #F2ECE4;
  --ifm-color-primary-dark: rgb(33, 175, 144);
  --ifm-color-primary-darker: rgb(31, 165, 136);
  --ifm-color-primary-darkest: rgb(26, 136, 112);
  --ifm-color-primary-light: #E7D29B;
  --ifm-color-primary-lighter: #F2ECE4;
  --ifm-color-primary-lightest: #F2ECE4;
  --ifm-code-font-size: 95%;
  background-color: #E7D29B;
}

.row {
  justify-content: space-around;
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

.footer.footer--dark {
  background-color: #58180D;
  padding-left: 5rem;
  padding-right: 5rem;
}

.menu .menu__link.menu__link--active {
  color: #000000;
}

.navbar {
  background-color: #58180D;
}

.navbar .navbar-sidebar__brand {
  background-color: #58180D;
}

.navbar .navbar-sidebar {
  background-color: #F2ECE4;
}

.navbar .navbar__toggle {
  color: #F2ECE4;
}

.navbar .navbar__link {
  color: #F2ECE4;
}

.navbar .navbar__title {
  color: #F2ECE4;
}

.pagination-nav .pagination-nav__link {
  border-color: #000000;
}

.button.button--secondary {
  --ifm-button-border-color: rgb(41, 38, 30);
}

.button.button--secondary:hover {
  --ifm-button-border-color: #9c2B1B;
}

.docSidebarContainer_node_modules-\@docusaurus-theme-classic-src-theme-DocPage- {
  border-right-color: #000000 !important;
}

.contents .contents__link:hover, .contents .contents__link.contents__link--active, .contents .contents__link.contents__link--active code {
  color: #9c2B1B;
}

.contents.contents__left-border {
  border-left-color: #000000;
}

.contents .contents__link {
  color: #000000;
}

.docTitle_node_modules-\@docusaurus-theme-classic-src-theme-DocItem- {
  margin-bottom: 1.5rem;
}

a {
  color: #9c2B1B;
}

hr {
  border-color: #9c2B1B;
}

h1 {
  color: #000000;
}

h2 {
  color: #000000;
}

.markdown > h2 {
  margin-bottom: 1.5rem !important;
}

h3 {
  color: #000000;
}

.markdown > h3 {
  margin-top: 0px;
}

h4 {
  color: #000000;
}

.markdown > h4 {
  margin-top: 0px;
}

h5 {
  color: #000000;
}

h6 {
  color: #000000;
}

p {
  color: #000000;
}